body{
    font-family: helvetica;
    margin:0;
    padding:0;
    font-size: 20px;
    background-color: #D3D3D3;
    background-size: cover;
   
}

.valor-dolar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

h1{
    text-align: center;
    text-shadow: 0.05em 0.05em rgb(51, 122, 87);
    margin: 0 0 30px 0;
    padding: 10px;
    color: #889a83;
    margin-left: 300px;
    margin-right: 300px;
}
input{
    display:block;
    width: 200px;
    margin: 10px 0;
    height: 30px;
    color: rgb(147, 144, 144);
    border-radius: 7px;
}

.contenidos{
    padding: 30px;
    background:rgba(0,0,0,.7);
    border: solid 1px #297e26;
    width: 300px;
    margin:auto;
    border-radius: 10px;
    color:grey;
}
label{
    font-size: 25px;
}

button{  
   background-image: linear-gradient(to right, #409629 0%, #061700  51%, #308a17  100%)
}

button{
    margin: 2px;
    padding: 10px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: 2px solid  #059700;
    outline-offset: 2px;
    border: none;
}

button:hover{
    background-position: right center; 
    color: rgb(221, 209, 209);
    text-decoration: none;
}


/*segundo convertidor*/

input{
    display:block;
    width: 200px;
    margin: 10px 0;
    height: 30px;
    color: grey;
    border-radius: 7px;
    outline: 2px solid grey;
    outline-offset: 2px;
}

.contenidos-dos{
    padding: 30px;
    background:rgba(0,0,0,.7);
    border: solid 1px #136b10;
    width: 300px;
    margin:auto;
    border-radius: 10px;
    color:grey;
}
label{
    font-size: 25px;
}

button{  
   background-image: linear-gradient(to right, #52c234 0%, #061700  51%, #52c234  100%)
    }
button{
    margin: 2px;
    padding: 10px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: 2px solid  #158012;
    outline-offset: 2px;
    border: none;
}

button:hover {
background-position: right center; 
color: #fff;
text-decoration: none;
}

p{
    font-size: small;
    color: #061700;
    
}