@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #D3D3D3;
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}
.container {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}
.card {
    border-radius: 0.938rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}
.card-title {
    color: #328e51 !important;
}

input[type="number"] {
    border-radius: 0.25rem;
    color: #968c8c;
}

.btn-dol{
    background-color: 328e51;
}

.btn-dol:hover {
    background-color: #4b9563 !important;
    border-color: #328e51;
}

.sourse{
    color: grey;
    font-size: smaller;
   
}
